In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
# Importing python modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys
import psycopg2
import pandas.io.sql as sqlio
from sqlalchemy import create_engine

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
#Setting system path to the src directory
sys.path.append(os.path.abspath(os.path.join('../src')))

In [5]:
# Ploting style that I like for seaborn plots
plt.style.use("https://github.com/dhaitz/matplotlib-stylesheets/raw/master/pitayasmoothie-dark.mplstyle")

In [6]:
# import user defined modules
from preprocessing import PreProcess
from overview import Overview 
overview = Overview()
preProcess = PreProcess()
from plot import Plot
pl = Plot()

In [7]:
#Connecting to the postgres database
try:
    conn = psycopg2.connect(dbname='telecom', user='postgres', host='localhost', password='Nigielove_21')
    cur = conn.cursor()
    sql = """ SELECT * FROM public.xdr_data  """
    data = sqlio.read_sql_query(sql, conn)
    print('Data successfully fetched from postgres')
except Exception as e:
    print(f"Error reading data from PostgreSQL: {e}")    
finally:
    # Close the cursor and the connection
    cur.close()
    conn.close()

Data successfully fetched from postgres

In [8]:
# Just incase write the data to a local folder
data.to_csv('../data/data_from_postgres.csv', index=False)

# 1. Explore the Data: 
>> ## Get an overview of the dataset to understand its structure, missing values, data types, etc.

In [9]:
data.head(5) # # Display the first five rows

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [10]:
# number of data points
print(f" There are {data.shape[0]} rows and {data.shape[1]} columns")

 There are 150001 rows and 55 columns

In [11]:
data.info() # Get information about the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 149010 non-null  float64
 1   Start                                     150000 non-null  object
 2   Start ms                                  150000 non-null  float64
 3   End                                       150000 non-null  object
 4   End ms                                    150000 non-null  float64
 5   Dur. (ms)                                 150000 non-null  float64
 6   IMSI                                      149431 non-null  float64
 7   MSISDN/Number                             148935 non-null  float64
 8   IMEI                                      149429 non-null  float64
 9   Last Location Name                        148848 non-null  object
 10  Avg RTT DL (ms)                           122172 non-null  float64
 11  Avg RTT UL (ms)                           122189 non-null  float64
 12  Avg Bearer TP DL (kbps)                   150000 non-null  float64
 13  Avg Bearer TP UL (kbps)                   150000 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               61855 non-null   float64
 15  TCP UL Retrans. Vol (Bytes)               53352 non-null   float64
 16  DL TP < 50 Kbps (%)                       149247 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            149247 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             149247 non-null  float64
 19  DL TP > 1 Mbps (%)                        149247 non-null  float64
 20  UL TP < 10 Kbps (%)                       149209 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             149209 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            149209 non-null  float64
 23  UL TP > 300 Kbps (%)                      149209 non-null  float64
 24  HTTP DL (Bytes)                           68527 non-null   float64
 25  HTTP UL (Bytes)                           68191 non-null   float64
 26  Activity Duration DL (ms)                 150000 non-null  float64
 27  Activity Duration UL (ms)                 150000 non-null  float64
 28  Dur. (ms).1                               150000 non-null  float64
 29  Handset Manufacturer                      149429 non-null  object
 30  Handset Type                              149429 non-null  object
 31  Nb of sec with 125000B < Vol DL           52463 non-null   float64
 32  Nb of sec with 1250B < Vol UL < 6250B     57107 non-null   float64
 33  Nb of sec with 31250B < Vol DL < 125000B  56415 non-null   float64
 34  Nb of sec with 37500B < Vol UL            19747 non-null   float64
 35  Nb of sec with 6250B < Vol DL < 31250B    61684 non-null   float64
 36  Nb of sec with 6250B < Vol UL < 37500B    38158 non-null   float64
 37  Nb of sec with Vol DL < 6250B             149246 non-null  float64
 38  Nb of sec with Vol UL < 1250B             149208 non-null  float64
 39  Social Media DL (Bytes)                   150001 non-null  float64
 40  Social Media UL (Bytes)                   150001 non-null  float64
 41  Google DL (Bytes)                         150001 non-null  float64
 42  Google UL (Bytes)                         150001 non-null  float64
 43  Email DL (Bytes)                          150001 non-null  float64
 44  Email UL (Bytes)                          150001 non-null  float64
 45  Youtube DL (Bytes)                        150001 non-null  float64
 46  Youtube UL (Bytes)                        150001 non-null  float64
 47  Netflix DL (Bytes)                        150001 non-null  float64
 48  Netflix UL (Bytes)                        150001 non-null  float64
 49  Gaming DL (Bytes)                         150001 non-null  float64
 50  Gaming UL (Bytes)                         150001 non-null  float64
 51  Other DL (Bytes)                          150001 non-null  float64
 52  Other UL (Bytes)                          150001 non-null  float64
 53  Total UL (Bytes)                          150000 non-null  float64
 54  Total DL (Bytes)                          150000 non-null  float64
dtypes: float64(50), object(5)
memory usage: 62.9+ MB

In [12]:
data.describe()# Summary statistics

,Bearer Id,Start ms,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
count,1.490100e+05,150000.000000,150000.000000,1.500000e+05,1.494310e+05,1.489350e+05,1.494290e+05,122172.000000,122189.000000,150000.000000,...,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500000e+05,1.500000e+05
mean,1.013887e+19,499.188200,498.800880,1.046086e+05,2.082016e+14,4.188282e+10,4.847455e+13,109.795706,17.662883,13300.045927,...,1.163407e+07,1.100941e+07,1.162685e+07,1.100175e+07,4.220447e+08,8.288398e+06,4.211005e+08,8.264799e+06,4.112121e+07,4.546434e+08
std,2.893173e+18,288.611834,288.097653,8.103762e+04,2.148809e+10,2.447443e+12,2.241637e+13,619.782739,84.793524,23971.878541,...,6.710569e+06,6.345423e+06,6.725218e+06,6.359490e+06,2.439675e+08,4.782700e+06,2.432050e+08,4.769004e+06,1.127639e+07,2.441429e+08
min,6.917538e+18,0.000000,0.000000,7.142000e+03,2.040471e+14,3.360100e+10,4.400152e+11,0.000000,0.000000,0.000000,...,5.300000e+01,1.050000e+02,4.200000e+01,3.500000e+01,2.516000e+03,5.900000e+01,3.290000e+03,1.480000e+02,2.866892e+06,7.114041e+06
25%,7.349883e+18,250.000000,251.000000,5.744050e+04,2.082014e+14,3.365130e+10,3.546071e+13,32.000000,2.000000,43.000000,...,5.833501e+06,5.517965e+06,5.777156e+06,5.475981e+06,2.104733e+08,4.128476e+06,2.101869e+08,4.145943e+06,3.322201e+07,2.431068e+08
50%,7.349883e+18,499.000000,500.000000,8.639900e+04,2.082015e+14,3.366371e+10,3.572201e+13,45.000000,5.000000,63.000000,...,1.161602e+07,1.101345e+07,1.164222e+07,1.099638e+07,4.234081e+08,8.291208e+06,4.218030e+08,8.267071e+06,4.114331e+07,4.558411e+08
75%,1.304243e+19,749.000000,750.000000,1.324302e+05,2.082018e+14,3.368349e+10,8.611970e+13,70.000000,15.000000,19710.750000,...,1.744852e+07,1.651556e+07,1.747048e+07,1.650727e+07,6.331742e+08,1.243162e+07,6.316918e+08,1.238415e+07,4.903424e+07,6.657055e+08
max,1.318654e+19,999.000000,999.000000,1.859336e+06,2.140743e+14,8.823971e+14,9.900120e+13,96923.000000,7120.000000,378160.000000,...,2.325910e+07,2.201196e+07,2.325919e+07,2.201196e+07,8.434419e+08,1.655879e+07,8.434425e+08,1.655882e+07,7.833131e+07,9.029696e+08

# 2. Handle Missing Values
## 2.1 Check for missing values

In [13]:

data.isna().sum().sum()

1031392

There are **10313192** missing values in the dataset.

## 2.2 Getting percentage of missing data points in the dataset.

In [14]:
total_missing_value = overview.percent_missing(data)
print(f'The percentage of missing values in the telecom data set is {total_missing_value}% of the total')

The percentage of missing values in the telecom data set is 12.5% of the total

## 2.3 Number and percentage of missing values for each column

In [15]:
missing_values_result = preProcess.missing_values_percentage(data)
missing_values_result

,Total Missing Values,Percentage Missing
Nb of sec with 37500B < Vol UL,130254,86.835421
Nb of sec with 6250B < Vol UL < 37500B,111843,74.561503
Nb of sec with 125000B < Vol DL,97538,65.024900
TCP UL Retrans. Vol (Bytes),96649,64.432237
Nb of sec with 31250B < Vol DL < 125000B,93586,62.390251
Nb of sec with 1250B < Vol UL < 6250B,92894,61.928920
Nb of sec with 6250B < Vol DL < 31250B,88317,58.877607
TCP DL Retrans. Vol (Bytes),88146,58.763608
HTTP UL (Bytes),81810,54.539636
HTTP DL (Bytes),81474,54.315638
Avg RTT DL (ms),27829,18.552543
Avg RTT UL (ms),27812,18.541210
Last Location Name,1153,0.768662
MSISDN/Number,1066,0.710662
Bearer Id,991,0.660662
Nb of sec with Vol UL < 1250B,793,0.528663
UL TP < 10 Kbps (%),792,0.527996
50 Kbps < UL TP < 300 Kbps (%),792,0.527996
10 Kbps < UL TP < 50 Kbps (%),792,0.527996
UL TP > 300 Kbps (%),792,0.527996
Nb of sec with Vol DL < 6250B,755,0.503330
DL TP > 1 Mbps (%),754,0.502663
250 Kbps < DL TP < 1 Mbps (%),754,0.502663
50 Kbps < DL TP < 250 Kbps (%),754,0.502663
DL TP < 50 Kbps (%),754,0.502663
IMEI,572,0.381331
Handset Type,572,0.381331
Handset Manufacturer,572,0.381331
IMSI,570,0.379997
Dur. (ms),1,0.000667
End,1,0.000667
Avg Bearer TP DL (kbps),1,0.000667
Avg Bearer TP UL (kbps),1,0.000667
End ms,1,0.000667
Start,1,0.000667
Start ms,1,0.000667
Activity Duration UL (ms),1,0.000667
Activity Duration DL (ms),1,0.000667
Dur. (ms).1,1,0.000667
Total DL (Bytes),1,0.000667
Total UL (Bytes),1,0.000667
Social Media DL (Bytes),0,0.000000
Social Media UL (Bytes),0,0.000000
Email DL (Bytes),0,0.000000
Email UL (Bytes),0,0.000000
Google DL (Bytes),0,0.000000
Google UL (Bytes),0,0.000000
Youtube UL (Bytes),0,0.000000
Youtube DL (Bytes),0,0.000000
Netflix DL (Bytes),0,0.000000
Netflix UL (Bytes),0,0.000000
Gaming UL (Bytes),0,0.000000
Gaming DL (Bytes),0,0.000000
Other UL (Bytes),0,0.000000
Other DL (Bytes),0,0.000000

## 2.4 Fill missing values

When I explore the data I found that some of the columns have infinity and negative infinity values. So first we need to get columns with numeric values

In [16]:
# Clean Column names
df_data= preProcess.clean_feature_name(data)

# slecting the numeric 
numeric_columns = df_data.select_dtypes(include=np.number).columns

# Select categorical columns for outlier detection
categorical_columns = df_data.select_dtypes(include='object').columns


dlist = ['bearer_id','start','end' ,'start_ms', 'end_ms', 'imsi', 'msisdn/number', 'imei']

# exclude the above list of columns from the numeric column
numeric_columns = [el for el in numeric_columns if el not in dlist]

In [17]:
# Replace infinity and negarive infinity values with null values
for col in numeric_columns:
    df_data[col].replace([np.inf, -np.inf], np.nan, inplace=True)

In [18]:
df_data[numeric_columns].min().min()

0.0

##### Drop dublicates

In [19]:
df_data.shape

(150001, 55)

In [20]:

df_data.drop_duplicates(inplace=True)

In [21]:
df_data.shape

(150001, 55)

#### No duplicate values found

Filling missing values in the data set by reasonable approximations using median of the variable to allow machine learning models to work

In [22]:
#For numeric columns
df_fill_N = preProcess.fill_nulls_with_method(df_data,numeric_columns,'median')

In [23]:
#For categorical columns
df_filled = preProcess.fill_nulls_with_method(df_fill_N ,categorical_columns, 'mode')

In [24]:
df_filled.isnull().sum().sum()

3201

In [25]:
df_data[numeric_columns].min().min()

0.0

Thus, we don't have missing values.

#### Now we combine  data volume  received  and sent for different platforms

In [26]:
df_filled["social_media"] = df_filled["social_media_dl_(bytes)"] + df_filled['social_media_ul_(bytes)']
df_filled["google"] = df_filled["google_dl_(bytes)"] + df_filled["google_ul_(bytes)"]
df_filled['email'] = df_filled["email_dl_(bytes)"] + df_filled["email_ul_(bytes)"]
df_filled['youtube'] = df_filled["youtube_dl_(bytes)"] + df_filled["youtube_ul_(bytes)"]
df_filled['netflix'] = df_filled["netflix_dl_(bytes)"] + df_filled["netflix_ul_(bytes)"]
df_filled["gaming"] = df_filled["gaming_dl_(bytes)"] + df_filled["gaming_ul_(bytes)"]
df_filled['other'] = df_filled["other_dl_(bytes)"]+df_filled["other_ul_(bytes)"]
df_filled['total_data'] = df_filled['total_dl_(bytes)'] + df_filled['total_ul_(bytes)']

In [27]:
df_filled.shape

(150001, 63)

In [28]:
# If needed, we change the data volumes from buytes to megabytes.

In [29]:
df_filled['social_media'] = preProcess.convert_bytes_to_megabytes(df_filled, 'social_media')
df_filled['google'] = preProcess.convert_bytes_to_megabytes(df_filled, 'google')
df_filled['email'] = preProcess.convert_bytes_to_megabytes(df_filled, 'email')
df_filled['youtube'] = preProcess.convert_bytes_to_megabytes(df_filled, 'youtube')
df_filled['netflix'] = preProcess.convert_bytes_to_megabytes(df_filled, 'netflix')
df_filled['gaming'] = preProcess.convert_bytes_to_megabytes(df_filled, 'gaming')
df_filled['total_data'] = preProcess.convert_bytes_to_megabytes(df_filled, 'total_data')
df_filled['other'] = preProcess.convert_bytes_to_megabytes(df_filled, 'other')

Save the cleaned data

In [30]:
# Save the cleaned data to a local directory
df_filled.to_csv('../data/cleaned_data.csv', index=False)

In [31]:
try:
    #Connecting to the postgres database
    engine = create_engine('postgresql://postgres:Nigielove_21@localhost/telecom')

    # Sending the cleaned data to the postgres database
    df_filled.to_sql('cleaned_data', engine, if_exists='replace', index=False)
except Exception as e:
    print("Failed to send data to postgres")
    
finally:
    engine.dispose()
    print('Data successfully sent to postgres')

Data successfully sent to postgres